.style-switcher {
    position: fixed;
    top: 40px;
    right: 0;
    width: 200px;
    padding: 15px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-gray-1);
    z-index: 101;
    border-radius: 5px;
    transition: all .4s ease;
    transform: translateX(100%);
}

.style-switcher.open {
    transform: translateX(-25px);
}

.style-switcher .s-icon {
    position: absolute;
    top: 0;
    right: 100%;
    width: 40px;
    font-size: 20px;
    height: 40px;
    background-color: var(--bg-black-100);
    color: var(--text-black);
    text-align: center;
    border: 1px solid var(--bg-gray-1);
    margin-right: 10px;
    border-radius: 50%;
}

.style-switcher .s-icon i {
    line-height: 35px;
}

.style-switcher .style-switch-toggler {
    top: 0;
    color: var(--text-black-color);
}

.style-switcher .day-night {
    top: 55px;
    color: var(--text-black-color);
}

.style-switcher h4 {
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 10px;
}

.style-switcher .colors {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.style-switcher .colors span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid var(--bg-gray-1);
}

.style-switcher .colors .color-1 {
    background: #ec3818;
}

.style-switcher .colors .color-2 {
    background: #B530F7;
}

.style-switcher .colors .color-3 {
    background: #FF69B4;
}

.style-switcher .colors .color-4 {
    background: #DDB20C;
}

.style-switcher .colors .color-5 {
    background: #0C8A8B;
}